/* define mixin */
body {
  position: relative;
  z-index: 0;
}
h1.pg-hero {
  text-align: center;
  margin-top: 60px;
  font-weight: 300;
  padding: 30px 0px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.headings {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.pg-blocks {
  /*margin:40px 0px;*/
}
.panel-header {
  font-size: 18px;
}
.uk-navbar {
  z-index: 100;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
}
.uk-navbar-nav > li.uk-active > a {
  background-color: transparent;
  border-bottom: 2px solid #e0684b;
}
.uk-navbar-nav > li > a {
  font-size: 14px;
}
.pg-header {
  background: #e0684b url(../img/bg-pattern.png) 0 -204px repeat;
  color: #F5F5F5;
  padding: 60px 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: bgscroll 30s infinite linear;
  overflow: hidden;
  /*margin-bottom: 100px;*/
}
.pg-header h1 {
  font-weight: 300;
  color: #F5F5F5;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.pg-header p {
  font-weight: 200;
  font-size: 20px;
  margin: 0px;
  margin-top: 5px;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  color: #eee;
  line-height: 28px;
}
.pg-header h1.article-header {
  text-transform: none;
}
@keyframes "bgscroll" {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -300px;
  }
}
@-webkit-keyframes "bgscroll" {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -300px;
  }
}
@-ms-keyframes "bgscroll" {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -300px;
  }
}
.hero-blk {
  background-image: url(../img/life/cvr4.jpg);
}
.hero-blk .pg-hero {
  margin: 0px;
  border: 0px;
  color: #eee;
  text-align: left;
  padding-top: 250px;
}
.hero-blk .pg-hero span {
  background: rgba(35, 35, 35, 0.8);
  display: inline-block;
  margin-bottom: 8px;
  padding: 6px 12px;
  font-weight: 100;
  letter-spacing: 2px;
}
.hero-blk-2 {
  background-image: url(../img/life/cvr3.jpg);
}
.hero-blk-2 .pg-hero {
  margin: 0px;
  border: 0px;
  color: #eee;
  text-align: right;
  padding-top: 250px;
}
.hero-blk-2 .pg-hero span {
  background: rgba(35, 35, 35, 0.8);
  display: inline-block;
  margin-bottom: 8px;
  padding: 6px 12px;
  font-weight: 100;
  letter-spacing: 2px;
}
.pg-home {
  background-color: #f5f5f5;
  padding: 100px 0px;
}
.clearfix {
  clear: both;
}
.uk-navbar {
  /*visibility: hidden;*/
}
.uk-navbar.uk-visible {
  /*visibility: visible !important;*/
}
.pg-blocks .uk-panel {
  background-color: #fff;
  position: relative;
  border: 1px solid #ddd;
  border-bottom-width: 2px;
  margin-bottom: 30px;
}
.pg-blocks .uk-panel .uk-panel-teaser img {
  width: 100%;
}
.pg-blocks .uk-panel .headings {
  position: absolute;
  margin-top: -54px;
  left: 0px;
  right: 0px;
  color: #dddddd;
  font-weight: 100;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(35, 35, 35, 0.8);
}
.pg-blocks .uk-panel .headings a {
  color: #dddddd;
}
.pg-blocks .uk-panel .headings span {
  /*font-weight: 600;*/
}
.pg-blocks a:hover {
  text-decoration: none;
}
.pg-blocks .uk-panel:hover {
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid #3e8ffc;
}
.pg-blocks .uk-panel:hover .headings {
  color: #fff;
}
.pg-blocks .uk-panel:hover p span {
  color: #3e8ffc;
  transition: all 0.5s ease-in-out;
}
.pg-articles {
  padding-top: 60px;
  background-color: #F1F1F1;
}
.each-article .img-blk img {
  width: 100%;
}
.cnt-tags .each-tag {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 4px 8px;
  margin-bottom: 8px;
  margin-right: 2px;
  border-radius: 3px;
}
.cnt-tags .each-tag a {
  color: #888;
}
.cnt-tags .each-tag i {
  color: #ddd;
}
.cnt-tags .each-tag:hover {
  cursor: pointer;
  border: 1px solid #fc8383;
}
.cnt-tags .each-tag:hover a,
.cnt-tags .each-tag:hover i {
  color: #fc8383;
}
.pg-each-article {
  min-height: 600px;
  padding-top: 60px;
  font-size: 16px;
  line-height: 20px;
}
.teaser-img-blk img {
  width: 100%;
}
footer {
  text-align: left;
  background: #f7f7f7;
  font-size: 12px;
  line-height: 50px;
  height: 50px;
  color: #aaaaaa;
  border-top: 1px solid #ddd;
}
footer .social-links {
  float: right;
  margin-bottom: -10px;
  vertical-align: top;
}
footer .social-links li {
  display: inline-block;
  vertical-align: top;
}
footer .social-links li a {
  line-height: 50px;
  font-size: 24px;
  height: 50px;
  padding-left: 20px;
  color: #888;
}
footer .social-links li a:hover {
  color: #3e8ffc;
}
