@import url(http://fonts.googleapis.com/css?family=Cambo);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300);
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #efefef;
}
.each-blk {
  background-color: #ffffff;
  margin-bottom: 30px;
}
.each-blk img {
  width: 100%;
}
.each-blk .caption {
  font-family: 'Cambo', serif;
  position: absolute;
  background-color: #000;
  color: #ffffff;
  padding: 20px;
  margin-top: -74px;
  right: 15px;
  left: 15px;
  font-size: 24px;
  opacity: .85;
}
.each-blk .content {
  padding: 20px;
  font-size: 16px;
  /* border-left: 1px solid #dddddd;
		border-right: 1px solid #dddddd; */
}
.each-blk .link-more {
  display: block;
  text-align: center;
  background-color: #6a6a6a;
  color: #eeeeee;
  padding: 10px 0px;
  font-size: 30px;
  font-weight: 300;
}
.each-blk .link-more:hover {
  text-decoration: none;
  color: #ffffff;
}
.article-blk .each-article {
  background-color: #fff;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
}
.article-blk .each-article h1 {
  margin: 0px;
  font-family: 'Cambo', serif;
  font-size: 26px;
  padding: 15px;
  border-bottom: 1px dashed #999999;
}
.article-blk .each-article .article-content {
  padding: 15px;
  font-size: 16px;
}
.article-blk .each-article .img-blk {
  /* width: 200px;
			height: 200px;
			float: right; */
  margin: 15px 0px;
}
.article-blk .each-article .img-blk img {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
}
.leftpane {
  display: inline-block;
  width: 400px;
  float: left;
}
.rightpane {
  display: inline-block;
}
.tags {
  padding: 15px;
}
.each-tag {
  display: inline-block;
}
.each-tag a {
  padding: 6px 8px;
  background-color: #555555;
  color: #ffffff;
}
.sidebar {
  background-color: #dddddd;
}
.article-page {
  margin-top: 40px;
}
.each-article-blk {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.each-article-blk h1 {
  font-family: 'Cambo', serif;
  font-size: 34px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.each-article-blk .img-blk img {
  width: 100%;
}
.each-article-blk .content {
  padding: 30px 0px;
  font-size: 16px;
}
