@import url(http://fonts.googleapis.com/css?family=Cambo);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300);

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #efefef;
}

.each-blk {
	background-color: #ffffff;
	margin-bottom: 30px;
	img {
		width: 100%;
	}
	.caption {
		font-family: 'Cambo', serif;
		position: absolute;
		background-color: #000;
		color: #ffffff;
		padding:20px;
		margin-top: -74px;
		right: 15px;
		left: 15px;
		font-size: 24px;
		opacity: .85;
	}
	.content {
		padding:20px;
		font-size: 16px;
		/* border-left: 1px solid #dddddd;
		border-right: 1px solid #dddddd; */

	}
	.link-more {
		display: block;
		text-align: center;
		background-color: #6a6a6a;
		color: #eeeeee;
		padding:10px 0px;
		font-size: 30px;
		font-weight: 300;
		&:hover {
			text-decoration:none;
			color: #ffffff;
		}
	}
}

.article-blk {

	.each-article {
		background-color: #fff;
		border:1px solid #dddddd;
		h1 {
			margin: 0px;
			font-family: 'Cambo', serif;
			font-size: 26px;
			padding:15px;
			border-bottom:1px dashed #999999;
		}
		.article-content {
			padding:15px;
			font-size: 16px;
		}
		margin-bottom: 20px;
		.img-blk {
			/* width: 200px;
			height: 200px;
			float: right; */
			margin:15px 0px;
			img {
				width: 100%;
				padding: 10px;
				border: 1px solid #dddddd;
			}
		}
	}
}
.leftpane {
	display: inline-block;
	width: 400px;
	float:left;
}
.rightpane {
	display: inline-block;
}

.tags {
	padding:15px;
}
.each-tag {
	display: inline-block;
	a {

		padding:6px 8px;
		background-color: #555555;
		color:#ffffff;
	}
	
}

.sidebar {
	background-color: #dddddd;
}


.article-page {
	margin-top: 40px;
}
.each-article-blk {
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;

	h1 {
		font-family: 'Cambo', serif;
		font-size: 34px;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.img-blk {
		img {
			width: 100%;
		}
	}

	.content {
		padding:30px 0px;
		font-size: 16px;
	}
}